
<ol type="I">
	<li>
		<span>Preamble</span>
		<ol class="test" type="1">
			<li>About Single Page Applications</li>
			<li>
				About (web?) components
				<ul>
					<li>Isolation / shadow dom</li>
					<li>And semantic tags ? :-( </li>
				</ul>
			</li>
			<li>Angular2 VS Polymer VS React, what's the point?</li>
			<li>Angular2 VS Angular1, what remains? How to port from 1 to 2?</li>
			<li class="pw">PW1: Stylish a web component</li>
		</ol>
	</li>
	<li>
		<span>Ecosystem</span>
		<ol type="1">
			<li>Do we need typescript?</li>
			<li>ES* &amp; Polyfills</li>
			<li>Understand an application structure</li>
			<li class="pw"> PW2: Get a working environment from scratch</li>
		</ol>
	</li>
	<li>
		<span>Understand Main Concepts</span>
		<ol type="1">
			<li> Components are everywhere </li>
			<li> Dependency Injection Introduction </li>
			<li> Inject needed components</li>
			<li> Graphical Components &amp; templates </li>
			<li> Components as Business Services  </li>
			<li class="pw"> PW3: Use existing components  </li>
			<li> Components as Filters </li>
			<li class="pw"> PW4: Play with filters </li>
			<li> Configuring application routes </li>
			<li class="pw"> PW5: Use routes concepts </li>
		</ol>
	</li>
	<li>
		<span>Go further into details</span>
		<ol type="1">
			<li> Observables &amp; observers: an event implementation! </li>
			<li> Templates are powerfull</li>
			<li class="pw"> PW6: Play with events </li>
			<li> Changes detection &amp; 2 way data binding </li>
			<li> Providers and child providers, why, when and how?</li>
			<li class="pw"> PW7: Create services to make changes and observe these changes</li>
			<li> Dynamically load a component: ProxyComponent, custom service...</li>
			<li> About renderers </li>
		</ol>
	</li>

</ol>