
<ol type="I">
	<li>
		<span>Preamble</span>
		<ol class="test" type="1">
			<li>About Single Page Applications</li>
			<li>
				About (web?) components
				<ul>
					<li>Isolation / shadow dom</li>
					<li>And semantic tags ? :-( </li>
				</ul>
			</li>
			<li>Angular2 VS Polymer VS React, what's the point?</li>
			<li>Angular2 VS Angular1, what remains? How to port from 1 to 2?</li>
			<li class="pw">PW1: Stylish a web component</li>
		</ol>
	</li>
	<li>
		<span>Ecosystem</span>
		<ol type="1">
			<li>Do we need typescript?</li>
			<li>ES* &amp; Polyfills</li>
			<li>Understand an application structure</li>
			<li class="pw"> PW2: Get a working environment from scratch</li>
		</ol>
	</li>
	<li>
		<span>Understand Main Concepts</span>
		<ol type="1">
			<li> Classes are everywhere </li>
			<li class="pw">PW3: Services</li>
			<li> Dependency Injection Introduction </li>
			<li class="pw">PW4: Services &amp; DI</li>
			<li> What about templates </li>
			<li> Composition in ng2  </li>
			<li>Lifecycle directives/components</li>
			<li class="pw">PW5: Using templates</li>
		</ol>
	</li>
	<li>
		<span>Understand Main Concepts</span>
		<ol type="1">
			<li> And our filters? They became Pipes </li>
			<li class="pw"> PW6: Play with pipes</li>
			<li> Forms and validators </li>
			<li> The new router </li>
			<li class="pw">Use the router</li>
			<li>The change detection mechanism</li>
			<li class="pw"> PW5: Use routes concepts </li>
			<li>Unit tests</li>
			<li class="pw">Play with karma</li>
			<li>Integration tests</li>
			<li class="pw">Play with protractor</li>
		</ol>
	</li>

</ol>