<h2 class="standard-title">
	<span class="title-category">Advanced Concepts</span>
	Change Detection - Strategies - OnPush
</h2>

<ul>
	<li>
		By using <em>observables</em> for our components parameters,
		we are sure that these parameters will not change
	</li>
	<li>
		So <em>Change detectors</em> will not run on these components
	</li>
	<li>
		And the <em>active</em> attribute changes are not reflected to the view...
	</li>
	<li>
		Then, to force the Change Detection on a component, use
		<em>markForCheck()</em> on <em>ChangeDetectorRef</em>
	</li>
</ul>


<editor  [plunker]="true" [ng2]="true">
	<editortab title="app/app.component.ts" fileType="js" ngNonBindable>
import {Component, EventEmitter, AfterViewInit, ChangeDetectorRef, ChangeDetectionStrategy} from '@angular/core';
import { BrowserModule } from '@angular/platform-browser';
import { FormsModule } from '@angular/forms';
import {TreeNode} from 'app/treeNode';

@Component({
	selector: 'app',
	templateUrl: 'app/app.html'
})
export class App implements AfterViewInit{

	pathToSetObs: EventEmitter&lt;string&gt; = new EventEmitter();

	pathToSet: string = 'lrr';

	constructor(cdr: ChangeDetectorRef) {}

	ngAfterViewInit(){
		this.pathToSetObs.next(this.pathToSet);
	}

	updatePath(event: any){
		this.pathToSetObs.next(event.target.value);
	}
}

export const ModuleDefs= {
	bootstrap: [App],
	imports: [BrowserModule, FormsModule],
	declarations: [App, TreeNode]
}
	</editortab>
	<editortab title="app/app.html" fileType="html" ngNonBindable>
&lt;h1&gt;Min App&lt;/h1&gt;

&lt;input (input)="updatePath($event)" type="text" [(ngModel)]="pathToSet"&gt;
&lt;tree-node 
	[circleDiameter]="2" 
	[totalWidth]="20" 
	[strPath]="pathToSet" 
	[nbLines]="4" 
	[inObservable]="pathToSetObs"
&gt;&lt;/tree-node&gt;

	</editortab>
	<editortab title="app/treeNode.ts" fileType="js">
import {Component, ChangeDetectionStrategy, ChangeDetectorRef, EventEmitter} from '@angular/core';

enum AttributeMode{
	STRING, OBSERVABLE
}

@Component({
	selector:'tree-node',
	templateUrl: 'app/treeNode.html',
	inputs: [
		'nbLines : nbLines',
		'currentLine : currentLine',
		'position: position',
		'circleDiameter',
		'totalWidth',
		'strPath',
		'inObservable'
	],
	changeDetection: ChangeDetectionStrategy.OnPush
})
export class TreeNode{
	//Dimensions
	circleDiameter: number = 3;
	totalWidth: number = 50;

	borderRadiusPercent: string = '100';

	nbLines: number = 1;
	currentLine: number= 1;
	position: number= 1;

	_strPath: string;
	active: boolean = false;

	_inObservable: EventEmitter&lt;string&gt;;

	outLeftObservable: EventEmitter&lt;string&gt; = new EventEmitter();
	outRightObservable: EventEmitter&lt;string&gt; = new EventEmitter();


	// mode: AttributeMode= AttributeMode.STRING;
	mode: AttributeMode= AttributeMode.OBSERVABLE;
	
	constructor(private cdr: ChangeDetectorRef){}

	set inObservable(lo: EventEmitter&lt;string&gt; ){
		if (this.inObservable === undefined){
			this._inObservable = lo;
			
			if (this.mode === AttributeMode.OBSERVABLE) {

				this._inObservable.subscribe( (data:string) =&gt; { 

					if (data !== undefined){

						this.active = true;
						this.cdr.markForCheck();

						if (data.length === 0){
							this.outLeftObservable.next(undefined);
							this.outRightObservable.next(undefined);		
							return;
						}

						let firstChar= data.substr(0, 1);
						if (firstChar === 'l'){
							this.outLeftObservable.next(data.substring(1));
							this.outRightObservable.next(undefined);
						}
						else if (firstChar === 'r'){
							this.outLeftObservable.next(undefined);
							this.outRightObservable.next(data.substring(1));
						}
					}else{
						this.active = false;
						this.cdr.markForCheck();
						this.outLeftObservable.next(data);
						this.outRightObservable.next(data);
					}

					// console.log('Line: ' + this.currentLine + ' Position: ' + this.position + 'data: ' + data); 
				});
			}

		}
	}

	get inObservable():EventEmitter&lt;string&gt; {
		return this._inObservable;
	}


	getLeft(){
		let splitUnit = this.totalWidth / ( Math.pow(2, this.currentLine - 1) + 1 );
		return splitUnit * this.position;
	}

	getTop(): number{
		return this.circleDiameter * this.currentLine;
	}

	get strPath() { return this._strPath; }

	set strPath(path: string){
		if (this.mode === AttributeMode.OBSERVABLE){
			return;
		}

		if (path !== undefined){
			this.active = true;
		}else{
			this.active = false;
		}
		this._strPath = path;
	}

	getLeftPath(): string {
		if ( (this.mode === AttributeMode.OBSERVABLE) || !this.active || !this.strPath || this.strPath.length === 0 || (this.strPath.substr(0, 1) !== 'l')) {
			return undefined;
		}

		return this.strPath.substr(1);
	};

	getRightPath(): string {
		if ((this.mode === AttributeMode.OBSERVABLE) || !this.active || !this.strPath || this.strPath.length === 0 || (this.strPath.substr(0, 1) !== 'r')) {
			return undefined;
		}

		return this.strPath.substr(1);
	};

}

	</editortab>
	<editortab title="app/treeNode.html" fileType="html" ngNonBindable>
&lt;div
	[style.position]="'fixed'"
	[style.width.em]="circleDiameter"
	[style.height.em]="circleDiameter"
	[style.borderRadius.%]="borderRadiusPercent"
	[style.backgroundColor]="active?'red':'green'"
	[style.left.em]="getLeft()"
	[style.top.em]="getTop()"
&gt;
&lt;/div&gt;

&lt;tree-node
	*ngIf="currentLine &lt; nbLines"
	[circleDiameter]="circleDiameter"
	[totalWidth]="totalWidth"
	[currentLine]="currentLine+1"
	[nbLines]="nbLines"
	[position]="position * 2 - 1"
	[strPath]="getLeftPath()"
	[inObservable]="outLeftObservable"
&gt;
&lt;/tree-node&gt;

&lt;tree-node
	*ngIf="currentLine &lt; nbLines"
	[circleDiameter]="circleDiameter"
	[totalWidth]="totalWidth"	
	[currentLine]="currentLine+1"
	[nbLines]="nbLines"
	[position]="position * 2 "
	[strPath]="getRightPath()"
	[inObservable]="outRightObservable"
&gt;
&lt;/tree-node&gt;
	</editortab>
</editor>

<p class="exercise">
	Look references to markForCheck(), you can remove one of them
	and look for the result
</p>