<ul class="tabs">
	<li *ngFor="let tab of getTabs();let index=index;" (click)="displayTab(index)" class="{{tab.getCssClass()}}" >
		{{tab.title}}
	</li>
    <!-- Fiddle form -->
	<li *ngIf="fiddle == true" class="jsfiddle">
		<form
			method="post" 
			action="{{fiddleUrl}}"
			target="check"
		>
			<a href="#" (click)="submit($event)"></a>
			<div class="hidden-areas">
				<textarea type="text" name="html">{{getCode('html')}}</textarea>
				<textarea type="text" name="js">{{getCode('js')}}</textarea>
				<textarea type="text" name="css">{{getCode('css')}}</textarea>
				<input type="text" name="wrap" value="{{wrap}}">
		 		<input type="text" name="title" value="{{title}}" >
				<input type="text" name="description" value="{{description}}" >
			</div>
		</form>
	</li>
    <!-- plunker form -->
    <li *ngIf="plunker" class="plunker">
        <form 
            method="POST"
            action="{{plunkerUrl}}"
            target="_check" 
        >
            <a href="#" (click)="submit($event)"></a>
            <input 
                *ngFor="let currentField of getPlunkerData();" 
                type="hidden" 
                name="{{currentField.name}}"
                value="{{currentField.value}}"
            >
        </form>
    </li>
	<li *ngIf="localExec">
		<button (click)="execJs()">exec</button>
	</li>
</ul>

<editortab *ngIf="ng2" [title]="'index.html'" [fileType]="'html'">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
  &lt;head&gt;
    &lt;script&gt;document.write('&lt;base href="' + document.location + '" /&gt;');&lt;/script&gt;
    &lt;title&gt;Angular 2 Tour of Heroes&lt;/title&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;meta name="viewport" content="width=device-width, initial-scale=1"&gt;

    &lt;!-- Polyfill(s) for older browsers --&gt;
    &lt;script src="https://unpkg.com/core-js/client/shim.min.js"&gt;&lt;/script&gt;

    &lt;script src="https://unpkg.com/zone.js@0.6.23?main=browser"&gt;&lt;/script&gt;
    &lt;script src="https://unpkg.com/reflect-metadata@0.1.3"&gt;&lt;/script&gt;
    &lt;script src="https://unpkg.com/systemjs@0.19.27/dist/system.src.js"&gt;&lt;/script&gt;

    &lt;script src="config.js"&gt;&lt;/script&gt;
    &lt;script&gt;
      System.import('app').catch(function(err){ console.error(err); });
    &lt;/script&gt;
  &lt;/head&gt;

  &lt;body&gt;
    &lt;app&gt;Loading...&lt;/app&gt;
  &lt;/body&gt;
&lt;/html&gt;

</editortab>
<editortab *ngIf="ng2" [title]="'config.js'" [fileType]="js">
(function (global) {
  System.config({
    // DEMO ONLY! REAL CODE SHOULD NOT TRANSPILE IN THE BROWSER
    transpiler: 'ts',
    typescriptOptions: {
      tsconfig: true
    },
    meta: {
      'typescript': {
        "exports": "ts"
      }
    },
    paths: {
      // paths serve as alias
      'npm:': 'https://unpkg.com/'
    },
    // map tells the System loader where to look for things
    map: {
      // our app is within the app folder
      app: 'app',

      // angular bundles
      '@angular/core': 'npm:@angular/core/bundles/core.umd.js',
      '@angular/common': 'npm:@angular/common/bundles/common.umd.js',
      '@angular/compiler': 'npm:@angular/compiler/bundles/compiler.umd.js',
      '@angular/platform-browser': 'npm:@angular/platform-browser/bundles/platform-browser.umd.js',
      '@angular/platform-browser-dynamic': 'npm:@angular/platform-browser-dynamic/bundles/platform-browser-dynamic.umd.js',
      '@angular/http': 'npm:@angular/http/bundles/http.umd.js',
      '@angular/router': 'npm:@angular/router/bundles/router.umd.js',
      '@angular/forms': 'npm:@angular/forms/bundles/forms.umd.js',
      '@angular/upgrade': 'npm:@angular/upgrade/bundles/upgrade.umd.js',

      // other libraries
      'rxjs':                       'npm:rxjs',
      'angular2-in-memory-web-api': 'npm:angular2-in-memory-web-api',
      'ts':                         'npm:plugin-typescript@4.0.10/lib/plugin.js',
      'typescript':                 'npm:typescript@2.0.2/lib/typescript.js',

    },
    // packages tells the System loader how to load when no filename and/or no extension
    packages: {
      app: {
        main: './main.ts',
        defaultExtension: 'ts'
      },
      rxjs: {
        defaultExtension: 'js'
      },
      'angular2-in-memory-web-api': {
        main: './index.js',
        defaultExtension: 'js'
      }
    }
  });
})(this);
</editortab>
<editortab *ngIf="ng2" [title]="'tsconfig.json'" [fileType]="js">
{
  "compilerOptions": {
    "target": "es5",
    "module": "commonjs",
    "moduleResolution": "node",
    "sourceMap": true,
    "emitDecoratorMetadata": true,
    "experimentalDecorators": true,
    "removeComments": false,
    "noImplicitAny": true,
    "suppressImplicitAnyIndexErrors": true
  }
}
</editortab>
<editortab *ngIf="ng2" [title]="'app/main.ts'" [fileType]="js">
import { platformBrowserDynamic } from '@angular/platform-browser-dynamic';
import { AppModule } from './app.module';

platformBrowserDynamic().bootstrapModule(AppModule);
</editortab>
<editortab *ngIf="ng2" [title]="'app/app.module.ts'" [fileType]="js">
import { NgModule }      from '@angular/core';
import { ModuleDefs } from './app.component';

@NgModule(ModuleDefs)
export class AppModule { }
</editortab>

<ng-content></ng-content>