<h2 class="standard-title">
	<span class="title-category">Main Concepts</span>
	Forms - Custom Validators
</h2>

<ul>
	<li>Finally, we need a way to create our own <em>Validator</em></li>

	<li>
		Our validator needs to implements this interface
		<editortab [alone]="true">
interface Validator&lt;T extends Control&gt; {
   (c:T): {[error: string]:any};
}
		</editortab>
	</li>
	<li>
		It can then be used with our <em>FormGroup</em> programmatically
	</li>
</ul>


<editor [ng2]="true" [plunker]="true" description="Using forms">
    <editortab title="app/app.component.ts" fileType="js" ngNonBindable>
import {Component} from '@angular/core';
import {BrowserModule} from '@angular/platform-browser';
import {FormsModule, ReactiveFormsModule} from '@angular/forms';
import {MyFormCmp} from 'app/my-form.component';

@Component({
    selector: 'app',
    template: '&lt;my-form-cmp&gt;&lt;/my-form-cmp&gt;'
})
export class App {}

export const ModuleDefs= {
	bootstrap: [App],
	imports: [BrowserModule, FormsModule, ReactiveFormsModule],
	declarations: [App, MyFormCmp]
}
    </editortab>
    <editortab title="app/my-form.component.ts" fileType="js">
import {Component} from '@angular/core';
import {FormBuilder, FormGroup, FormControl, Validators} from '@angular/forms';

enum TodoCategory{PRIVATE, PERSO};

class TodoModel{
	constructor(public category: TodoCategory, public details: string){}
}

// THE VALIDATOR FUNCTION
let users= ['John'];

@Component({
	selector:'my-form-cmp',
	templateUrl:'app/my-form.html'
})
export class MyFormCmp{
	categories: string[]= Object.keys(TodoCategory).filter(v => isNaN(parseInt(v, 10)));
	model: TodoModel= new TodoModel();
	userformGroup: FormGroup;
	usernameCtrl: FormControl;

	static userNameExists(c: FormControl){
	    for (var i in users){
	      if ( users[i] === c.value ){
	        return null;
	      }
	    }
	  return {userNameExists: true };
  	}

	constructor(fb: FormBuilder){
	  this.usernameCtrl = fb.control('', [Validators.required, MyFormCmp.userNameExists]);
		this.userformGroup = fb.group({
			'username': this.usernameCtrl
		});
	}

	isSubmit: false;

	onSubmit(){
		this.isSubmit= true;
	}
}
	</editortab>    
    <editortab title="app/my-form.html" fileType="html" ngNonBindable>
&lt;style&gt;
  input.ng-invalid.ng-dirty {
   border: 3px red solid;
  }    	
&lt;/style&gt;
&lt;h1&gt;Enter your name&lt;/h1&gt;

&lt;form (ngSubmit)="onSubmit()" [formGroup]="userformGroup"&gt;
	&lt;p&gt;
	    &lt;label for="name"&gt;Name&lt;/label&gt;
	    &lt;input 
	      name="name"
	      [formControl]="usernameCtrl" 
	    &gt;
	    &lt;span *ngIf="!usernameCtrl.valid"&gt;Invalid content&lt;/span&gt;
	&lt;/p&gt;
	&lt;div *ngIf="usernameCtrl.hasError('required')"&gt;Username is required&lt;/div&gt;
	&lt;button *ngIf="userformGroup.valid" type="submit"&gt;Submit&lt;/button&gt;
&lt;/form&gt;

&lt;p *ngIf="isSubmit"&gt;
	Form submited&lt;br/&gt;
	userformGroup.value {{userformGroup.value | json}} 

&lt;/p&gt;
    </editortab>    
</editor>

<p class="exercise">
	You can also declare it as a directive if needed (more <a href="http://blog.thoughtram.io/angular/2016/03/14/custom-validators-in-angular-2.html" target="_blank">here</a>)
</p>

