/* ----------------------------- RESET --------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, main,
dl, dt, dd, ol, ul, li,
fieldset, figure, figcaption, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
}

html {overflow-y: scroll;}

body {
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
}

header, footer, main, nav, aside, article, section, figure {display: block;}


/* ----------------------------- DEFAULTS --------------------------------------- */

@font-face {
    font-family: 'open_sansbold';
    src: url('opensans-bold-webfont.eot');
    src: url('opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-bold-webfont.woff') format('woff'),
         url('opensans-bold-webfont.ttf') format('truetype'),
         url('opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('opensans-regular-webfont.eot');
    src: url('opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-regular-webfont.woff') format('woff'),
         url('opensans-regular-webfont.ttf') format('truetype'),
         url('opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    /*font: 100%/1.2 open_sansregular, "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	font: 100%/1.2 open_sansregular, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #444;
	background: #FFF;
}

h1 {float: left; width: 25%;}
h2 {font: 2em open_sansbold, "Helvetica Neue", Helvetica, Arial, sans-serif;}

a, a:link {color: #444; background: transparent;}
a:visited {opactiy: .8;}
a:hover {text-decoration: none;}

/*p, li, dt, dd {font-size: 0.8em;}*/

img {max-width: 100%;}

hr {display: none;}

strong {font-family: open_sansbold, "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 600;}


/* ----------------------------- HEADER / MENU --------------------------------------- */

body{
    padding-top: 5em;
}

header{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 1px 0 3px rgba(0,0,0,.4);
    height: 5em;
}

/* ## progress bar ## */

ul.slide-progress {
    border-radius: 0.5em;
    overflow: hidden;
}

li.progress-done{
    background-color: green;
}

li.progress-todo{
    background-color: red;
}

/* ----------------------------- SLIDE CONTAINER --------------------------------------- */

.slide-container {
    font-size: x-large;
    margin: 2em 5em;
    line-height: 1.5;
}

slide-move-left > button, slide-move-right > button {
  position: absolute;
  top: 4em;
  background: 0 0;
  border: none;
  font-size: 4em;
  box-shadow: 0 0 2px #CCC;
  border-radius: 3em;
}

slide-move-left > button:hover, slide-move-right > button:hover {
  box-shadow: 0 0 5px #AAA;
}

slide-move-left > button {
  left: 0.5em;
}

slide-move-right > button {
  right: 0.5em;
}

slide-move-left > button:after {
    content:"\261C";
}

slide-move-right > button:after {
    content:"\261E";
}


.hostSlideContainer{
  display: block;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  min-height: 30em;
  padding: 2em;
  -moz-box-shadow: 0 0 1em black;
  -webkit-box-shadow: 0 0 1em black;
  box-shadow: 0 0 1em black;  
}

/* ----------------------------- SLIDE CONTAINER CONTENT -------------------------- */

.slide-container li, .slide-container p{
  max-width: 85%;
}

.slide-container li {
  margin-left: 1em;
}

.slide-container ol[type=I] > li{
  padding-bottom: 1.5em;
}

em{
  color: blue;
}

/* TITLE FOR THE WHOLE SLIDE */

.slide-container h2.main-title{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 5em;
  /*border: solid 1px black;*/
  font-size: 1.5em;
  margin-top: 2em;
}


.slide-container h2.main-title > img {
  padding-left: 5em;
}

.slide-container h2.main-title > em {
  align-self: flex-end;
}


/* STANDARD TITLE */

.slide-container h2.standard-title{
  padding-bottom: 0.4em;
}

.slide-container h2.standard-title span{
  position: absolute;
  top: 1em;
  font-size: 0.3em;
  color: #55C
}

/* IMAGES */
.slide-container img.cartoon-little{
  width: 5em;
}

/* ----------------------------- TRANSVERSE -------------------------- */

/* DISPLAY ELEMENTS BASED ON SCOPE */

ul.horizontal-line{
  display: flex;
}

ul.horizontal-line > li{
  list-style-type: none;
}

ul.noliststyle{
  list-style-type: none;
}

code{
  display: inline-block;
  color: blue;
  padding: 0 0.5em;
  border: solid 1px black;
  border-radius: 0.3em 0.3em;
}

/* DISPLAY TODOs */
.todo{
  color: red;
}

.todo::before{
  content: "TODO: ";
}

.exercise{
  display: inline-block;
  color: blue;
  margin: 1em;
  padding: 1em;
  background-color: #EEE;
  border-radius: 1em;
  font-size: smaller;
}

.exercise::before {
  content: "More Details";
  font-weight: bolder;
}

.warning::before {
  content:"warn";
  color: orange;
}

.smile::after {
  font-size: 1.5em;
  content:"\263A";
}




