.inactive{
	display:none;
}

pre.prettyprint {
	background-color: #EEE; 
	font-size: 1em;
	margin-bottom: 1.2em;
	line-height: 1.2em;
	border: solid 1px #81BEF7;
	border-top: none;
	border-radius: 0.3em;
	max-height: 25em;
	overflow: scroll;
}
