<h2 class="standard-title">
	<span class="title-category">Main Concepts</span>
	Forms - FormControl and <em>FormGroup</em>
</h2>

<ul>
	<li>
		Based on the previous sample, we can
		<ul>
			<li>Assign a control to an input</li>
			<li>
				Then play with CSS: for example use the <em>ng-invalid</em> class to set red borders on this element
			</li>
			<li>
				Check the validity (or some other properties) of a control in order to dynamise the UI
			</li>
		</ul>
	</li>
	<li>
		It's also possible to attach your control(s) to a parent by using the <em>FormGroup</em> object
	</li>
	<li>
		This is interesting to get properties for the whole form: for example the group is valid if each of its controls are valid...
	</li>
	<li>
		The <em>FormBuilder</em> API help us creating a group and its control
	</li>
</ul>

<p>
	Below, let's disable the submit button if the form is not valid
</p>

<editor [ng2]="true" [plunker]="true" description="Using forms">
    <editortab title="app/app.component.ts" fileType="js" ngNonBindable>
import {Component} from '@angular/core';
import {BrowserModule} from '@angular/platform-browser';
import {FormsModule, ReactiveFormsModule} from '@angular/forms';
import {MyFormCmp} from 'app/my-form.component';

@Component({
    selector: 'app',
    template: '&lt;my-form-cmp&gt;&lt;/my-form-cmp&gt;'
})
export class App {}

export const ModuleDefs= {
	bootstrap: [App],
	imports: [BrowserModule, FormsModule, ReactiveFormsModule],
	declarations: [App, MyFormCmp]
}
    </editortab>
    <editortab title="app/my-form.component.ts" fileType="js">
import {Component} from '@angular/core';
import {FormBuilder, FormGroup, FormControl, Validators} from '@angular/forms';

enum TodoCategory{PRIVATE, PERSO};

class TodoModel{
	constructor(public category: TodoCategory, public details: string){}
}

@Component({
	selector:'my-form-cmp',
	templateUrl:'app/my-form.html'
})
export class MyFormCmp{
	categories: string[]= Object.keys(TodoCategory).filter(v => isNaN(parseInt(v, 10)));
	model: TodoModel= new TodoModel();
	formGroup: FormGroup;

	constructor(fb: FormBuilder){
		this.formGroup = fb.group({
			'detailsControl': new FormControl('', Validators.required)
		});
	}

	isSubmit: false;

	onSubmit(){
		this.isSubmit= true;
	}
}
	</editortab>    
    <editortab title="app/my-form.html" fileType="html" ngNonBindable>
&lt;h1&gt;Add an element to your todo list&lt;/h1&gt;

&lt;form (submit)="onSubmit()"&gt;
	&lt;p&gt;
	    &lt;label for="category"&gt;
			Category
		&lt;/label&gt;
		&lt;select name="category" [(ngModel)]="model.category" id="category" required&gt;
			&lt;option *ngFor="let category of categories" [value]="category"&gt;{{category}}&lt;/option&gt;
		&lt;/select&gt;
	&lt;/p&gt;
	&lt;p&gt;
	    &lt;label for="todoDetails"&gt;Content&lt;/label&gt;
	    &lt;input 
	      name="details" 
	      [(ngModel)]="model.details"
	      [formControl]="formGroup.controls.detailsControl" 
	      #currentElt
	    &gt;
	    &lt;span *ngIf="!formGroup.controls.detailsControl.valid"&gt;Miss data here&lt;/span&gt;
	&lt;/p&gt;
	&lt;button *ngIf="formGroup.valid" type="submit"&gt;Submit&lt;/button&gt;
&lt;/form&gt;

&lt;p&gt;
  {{currentElt.classList}}
&lt;/p&gt;

&lt;p *ngIf="isSubmit"&gt;
	Form submited
&lt;/p&gt;

&lt;h2&gt;Result&lt;/h2&gt;

&lt;p *ngIf="!isSubmit"&gt;
	{{model.category}} : {{model.details}}
&lt;/p&gt;
    </editortab>    
</editor>