<h2 class="standard-title">
	<span class="title-category">Main Concepts</span>
	Forms - Custom Validators
</h2>

<ul>
	<li>
		Our validator needs to implements this interface
		<editortab [alone]="true">
interface Validator&lt;T extends Control&gt; {
   (c:T): {[error: string]:any};
}
		</editortab>
	</li>
	<li>
		It can then be used with our <em>FormGroup</em> programmatically
	</li>
</ul>


<editor [ng2]="true" [plunker]="true" description="Using forms">
    <editortab title="app/app.component.ts" fileType="js" ngNonBindable>
import {Component} from '@angular/core';
import {BrowserModule} from '@angular/platform-browser';
import {FormsModule, ReactiveFormsModule} from '@angular/forms';
import {MyFormCmp} from 'app/my-form.component';

@Component({
    selector: 'app',
    template: '&lt;my-form-cmp&gt;&lt;/my-form-cmp&gt;'
})
export class App {}

export const ModuleDefs= {
	bootstrap: [App],
	imports: [BrowserModule, FormsModule, ReactiveFormsModule],
	declarations: [App, MyFormCmp]
}
    </editortab>
    <editortab title="app/my-form.component.ts" fileType="js">
import {Component} from '@angular/core';
import {FormBuilder, FormGroup, FormControl, Validators} from '@angular/forms';

enum TodoCategory{PRIVATE, PERSO};

class TodoModel{
	constructor(public category: TodoCategory, public details: string){}
}

// THE VALIDATOR FUNCTION
let users= ['John'];

function userNameExists(c:Control){
  
  for (var i in users){
    if ( users[i] === c.value ){
      return null;
    }
  }
	return {userNameExists: true };
}

@Component({
	selector:'my-form-cmp',
	templateUrl:'app/my-form.html'
})
export class MyFormCmp{
	categories: string[]= Object.keys(TodoCategory).filter(v => isNaN(parseInt(v, 10)));
	model: TodoModel= new TodoModel();
	formGroup: FormGroup;

	constructor(fb: FormBuilder){
		this.formGroup = fb.group({
			'user': new FormControl('', Validators.compose([Validators.required, userNameExists]))
		});
	}

	isSubmit: false;

	onSubmit(){
		this.isSubmit= true;
	}
}
	</editortab>    
    <editortab title="app/my-form.html" fileType="html" ngNonBindable>
&lt;h1&gt;Add an element to your todo list&lt;/h1&gt;

&lt;form (submit)="onSubmit()"&gt;
	&lt;p&gt;
	    &lt;label for="name"&gt;Name&lt;/label&gt;
	    &lt;input 
	      name="name"
	      [formControl]="formGroup.controls.user" 
	    &gt;
	    &lt;span *ngIf="!formGroup.controls.user.valid"&gt;Invalid content&lt;/span&gt;
	&lt;/p&gt;
	&lt;button *ngIf="formGroup.valid" type="submit"&gt;Submit&lt;/button&gt;
&lt;/form&gt;


&lt;p *ngIf="isSubmit"&gt;
	Form submited
&lt;/p&gt;
    </editortab>    
</editor>

<p class="exercise">
	You can also declare it as a directive if needed (more <a href="http://blog.thoughtram.io/angular/2016/03/14/custom-validators-in-angular-2.html" target="_blank">here</a>)
</p>

