
<ol type="I">
	<li>
		<span>Preamble</span>
		<ol class="test" type="1">
			<li>About Single Page Applications</li>
			<li>
				About (web?) components
				<ul>
					<li>Isolation / shadow dom</li>
					<li>And semantic tags ? :-( </li>
				</ul>
			</li>
			<li>Angular2 VS Angular1, what remains? How to port from 1 to 2?</li>
			<li class="pw">PW1: Stylish a web component</li>
		</ol>
	</li>
	<li>
		<span>Ecosystem</span>
		<ol type="1">
			<li>Do we need typescript?</li>
			<li>ES* &amp; Polyfills</li>
			<li class="pw"> PW2: Get a working environment from scratch</li>
			<li>What the point about Observables</li>
		</ol>
	</li>
	<li>
		<span>Understand Main Concepts</span>
		<ol type="1">
			<li> Classes are everywhere - Components/directives/templates overview </li>
			<li class="pw">PW3: A First experience with templates </li>
			<li> Classes are everywhere - Services overview </li>
			<li class="pw">PW4: Services </li>
			<li> Classes are everywhere - Router Service overview </li>
			<li class="pw">PW5: Configure a route</li>
		</ol>
	</li>
	<li>
		<span>Understand Main Concepts</span>
		<ol type="1">
			<li>Templates - More details</li>
			<li class="pw">PW6: More templates</li>
			<li> Intro to DI</li>
			<li class="pw">PW7: Services &amp; DI</li>
			<li> Composition in ng2  </li>
			<li>Lifecycle directives/components</li>
			<li> And our filters? They became Pipes </li>
			<li class="pw"> PW8: Play with pipes</li>
			<li> Forms and validators </li>
			<li class="pw"> PW9: Play with forms concepts</li>
		</ol>
	</li>


	<li>
		<span>Understand Main Concepts</span>
		<ol type="1">
			<li> Router - more details </li>
			<li class="pw">Use the router</li>
			<li>The change detection mechanism</li>
			<li>Unit tests</li>
			<li class="pw">Play with karma</li>
			<li>Integration tests</li>
			<li class="pw">Play with protractor</li>
			<li class="pw">Optional: Play with  observables</li>
		</ol>
	</li>

</ol>